<html>

<body>
    <h1> Well Testing </h1>
    <b>Well Barcode: </b>
    <input type="text" value=""><br><br>
    <b>Pool Barcode: </b>
    <input type="text" value=""><br><br>
    <form method="get">
        <b>Result: </b>
        <input type="text" name="progess" value="">
        <select name="filter">
            <option>In progress</option>
            <option>Negative</option>
            <option>Positive</option>>
        </select>
        <br>
        <input type="submit" value="Add">
        <br>
    </form>
    <table id="welltable">
        <tr>
            <td>Well Barcode</td>
            <td>Poll Barcode</td>
            <td>Result</td>
        </tr>
        <tr>
            <td>
                <label><input type="checkbox">111</label>
            </td>
            <td>
                123
            </td>
            <td>
                In progress
            </td>
        </tr>
        <tr>
            <td>
                <label><input type="checkbox">222</label>
            </td>
            <td>
                456
            </td>
            <td>
                In progress
            </td>
        </tr>
        <tr>
            <td>
                <label><input type="checkbox">333</label>
            </td>
            <td>
                789
            </td>
            <td>
                Negative
            </td>
        </tr>
    </table>
    <button>Edit Pool</button>
    <button>Delete Pool</button>
</body>

</html>